<!-- <section>
    <mat-toolbar matRipple color='accent' style="top: 0;">
    <button (click)="goback()" mat-icon-button aria-label="Example icon button with a heart icon">
        <mat-icon>west</mat-icon>
    </button>
    <span>
        <h6>VCs & Government Agencies</h6>
    </span>
    <span id="spacer"></span>

</mat-toolbar>

<section style="margin-top: 80px;">
    <mat-tab-group>
        <mat-tab label="All loan Requests">
            <mat-accordion>

                <mat-expansion-panel *ngFor="let a of this.e | async" style="margin: 20px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: block;">
                            <h6>Loan ID</h6>
                            {{a.loanId}}
                        </mat-panel-title>
                        <mat-panel-title style="display: block;">
                            <h6>Loan Amount</h6>

                            {{a.amount}}
                        </mat-panel-title>
                        <mat-panel-description style="display: block;">
                            <h6>Date of Request</h6>

                            {{a.dateOfRequest.slice(0 ,10)}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <h6>interest rate</h6>&nbsp; &nbsp;{{a.intRate}}
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <h6>Summary of Business</h6>&nbsp; &nbsp;{{a.summary}}
                        </mat-list-item>
                        <mat-list-item role="listitem">

                            <h6>About Business</h6>&nbsp; &nbsp; {{a.aboutBusiness}}
                        </mat-list-item>
                        <mat-list-item role="listitem">

                            <h6>Reason</h6>&nbsp; &nbsp; {{a.reason}}
                        </mat-list-item>
                        <mat-list-item role="listitem">

                            <h6>Request Account ID</h6>&nbsp; &nbsp; {{a.acctId}}

                        </mat-list-item>
                    </mat-list>

                    <mat-panel-title style="display: block;">

                    </mat-panel-title>
                    <mat-panel-title style="display: block;">
                    </mat-panel-title>
                </mat-expansion-panel>

            </mat-accordion>
            <form style="padding: 10%;" [formGroup]="addressForm" validate (ngSubmit)="onSubmit()">

                <mat-card-content>

                    <mat-form-field appearance="outline">
                        <mat-label>Enter Loan Id</mat-label>
                        <input matInput type="number" placeholder="Loan ID" formControlName="id">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Id of receipent</mat-label>
                        <input matInput type="number" placeholder="ID of Recepient" formControlName="idd">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Proposed Amount</mat-label>
                        <input matInput type="number" placeholder="Amount" formControlName="amt">
                    </mat-form-field>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>select No. of years loan shold last</mat-label>
                            <mat-select placeholder="years" formControlName="years">
                                <mat-option *ngFor="let years of years" [value]="years.name">
                                    {{ years.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="addressForm.controls['intRate'].hasError('invalid')">
                                interest rate<strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>select proposed interest rate</mat-label>
                            <mat-select placeholder="select proposed interest rate" formControlName="intRate">
                                <mat-option *ngFor="let intRate of intRates" [value]="intRate.name">
                                    {{ intRate.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="addressForm.controls['intRate'].hasError('invalid')">
                                interest rate<strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="full-width">
                        <mat-label>Suummarise your loan offer here</mat-label>
                        <textarea rows="8" matInput placeholder="Summarise your offer" formControlName="msg"></textarea>
                        <mat-error *ngIf="addressForm.controls['msg'].hasError('invalid')">
                            Summary is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" type="submit">Submit an offer</button>
                </mat-card-actions>
            </form>

        </mat-tab>
        <mat-tab label="Submitted offers">
            <mat-accordion>

                <mat-expansion-panel *ngFor="let a of this.i | async" style="margin: 20px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="display: block;">
                            <h6>Loan ID</h6>
                            {{a.loanId}}
                        </mat-panel-title>
                        <mat-panel-title style="display: block;">
                            <h6>Offer Amount</h6>
                            {{a.amt}}
                        </mat-panel-title>
                        <mat-panel-description style="display: block;">
                            <div *ngIf="a.accepted === true">
                                <h6>accepted</h6>

                                {{a.accepted}}
                            </div>
                            <div *ngIf="a.accepted === false || null">
                                <h6>Date of Offer</h6>

                                {{a.dateOfoffer.slice(0 ,10)}}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <h6>years</h6>&nbsp; &nbsp;{{a.years}}
                        </mat-list-item>
                        <mat-list-item role = "listitem">
                        <h6>Account Id of Burrower</h6>&nbsp; &nbsp; {{a.id}}
                        </mat-list-item>
        
                    </mat-list>

                    <mat-panel-title style="display: block;">

                    </mat-panel-title>
                    <mat-panel-title style="display: block;">
                    </mat-panel-title>
                </mat-expansion-panel>

            </mat-accordion>
        </mat-tab>
    </mat-tab-group>

</section>

</section> -->
<section>

    <div>
        <aside id="sideNav">
            <app-vcside-nav></app-vcside-nav>
            </aside>
        <main id="main">
            <div>
                <section id="topNavCont">
                    <app-vctop-nav></app-vctop-nav>
                </section>
                <section id="mainBase">
                    <div>
                        <button style="position: fixed;top: 7rem;" mat-button (click)="goback()"><mat-icon>west</mat-icon></button>
                    </div>
                    <router-outlet></router-outlet>
                </section>
            </div>
        </main>
    </div>

</section>