<div *ngIf="lok['VCOffer'] !== undefined">
    <header><h3>Offer</h3></header>
    <mat-nav-list>
 <!-- <mat-list-item> -->
   <button mat-button class="listI accent">
            <div style="display: flex;justify-content: space-between;">
                <span><mat-icon>savings</mat-icon></span>
                <b>{{lok['VCOffer']['intRate']}}</b>
            </div>
        </button>
        <hr>
        <button mat-button class="listI accent">
            <div style="display: flex;justify-content: space-between;">
                <span><mat-icon>date_range</mat-icon></span>
                <b>{{lok['VCOffer']['duration']}}</b>
            </div>
        </button>
        <hr>
        <button mat-button class="listI accent">
            <div style="display: flex;
            justify-content: space-between;">
                <span><mat-icon>money</mat-icon></span><b>{{lok['VCOffer']['amount']}}</b>
            </div>
        </button>
<!-- </mat-list-item> -->
<mat-divider></mat-divider>
<p>{{lok['VCOffer']['msg']}}</p>
</mat-nav-list>
    <div style="float: right;" *ngIf="lok['accepted'] === undefined">

<button mat-stroked-button (click)="rejectLoan(lok['loanId'])" color="warn">
  Reject
</button>
&nbsp;&nbsp;
<button mat-raised-button color="accent" (click)="acceptLoan(lok['loanId'])">Accept</button>
</div>
</div>
<h1 *ngIf="lok['VCOffer'] === undefined || null">No offer yet</h1>