div#amt{
    justify-content: space-around;
    display: flex;
    align-items: baseline;
    border: 1px solid #80008026;
    border-radius: 1.2rem;
    box-sizing: border-box;
    box-shadow: 10px 10px 6px 6px #f3e4f3, -10px -10px 6px 6px #f3e4f3, 10px -10px 6px 6px #f3e4f3, -10px 10px 6px 6px #f3e4f3;
}
hr{
    margin:0;
}
.listI{
    height:3rem;
    width:100%
}
mat-list{
    padding-top: 0;
        margin: 0 20px;
        border: 1px solid;
        border-radius: 10px;
}