<section *ngIf="click === true">
    <h1>Your Payments Details</h1>

    <div>
        <label>Name of Depositor</label>
        {{nameOfDep}}
    </div>
    
    <div>
        <label>Santsi ID of Depositor</label>
        {{accoutNoD}}
    </div>
    <div>
        <label>Amount To be Deposited</label>
        <h6>{{amt}}</h6>
    </div>
    <div>
        <label>Receipient Name</label>

        <h6>{{nameOfRec}}</h6>
    </div>
    <div>
        <label>Santsi ID of Depositor</label>

        <h6>{{accoutNoR}}</h6>
    </div>
    <div>
        <label>Bank Account Number of Receipient</label>
        <h6>{{bankAcct}}</h6>
    </div>
    <div>
        <label>Reference Number</label>
        <h6>{{refNo}}</h6>
    </div>
    <button (click)="check()">pay now</button>
</section>
<button (click)="show=!show" *ngIf="click === true">View Transaction Details</button>